body{
    color: white;
    background-color: #020d18;
    font-family: 'Montserrat', sans-serif;
    padding-top: 90px;
}

input, select{
    color: white;
    background-color: #020d18;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
}

a {
    color: inherit; 
    text-decoration: none;
    all:unset;
}

h1 {
    font-size: 4vh;
    margin-bottom: 2vh;
}

#formDB {
    position: fixed;
    margin-top: 10vh;
    margin-left: 3vw;
    margin-right: 3vw;
    width: 16vw;
    font-size: 2.3vh;
    text-align: center;
}
ul {
    margin-left: 22vw;
}
.entrees{
    padding-bottom: 3vh;
}
input, #trier, #genre {
    padding-left: 2vw;
    padding-right:2vw;
    width: 100%;
}

.unFilm {
    margin-right: 5vw;
    margin-bottom: 5vh;
}

.row {
    border: solid;
    border-color: #233a50;
    display: flex;
}
  
.gauche {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.droite{
    padding-top: 2%;
    padding-right: 2%;
    position: relative;
}

.description {
    position: relative;
    margin-bottom: 5vh;
}

.synopsis {
    position: relative;
}

.notes {
    position:absolute;
    top:86%;
    display: flex;
    justify-content: center;
}

.boite_note{
    padding-left: 5vw;
    padding-right: 5vw;
}


.etoile {
    max-height: 0.75vw;
    width: auto;
}

ul {
    list-style-type: none;
}
