  #background {
    margin-top: 5%;
  }

  .slider {
    position: relative;
    overflow: hidden;
    background-color:#CCDDE2;
  }
  
  .slider-title {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .slider-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }
  
  .slider-container::-webkit-scrollbar {
    display: none;
  }
  
  .slider-card {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 40px;
  }
  
  .slider-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  
  .affiche {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .api_note {
    position: absolute;
    background: rgb(24, 26, 27);
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .slider-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .slider-card:hover .slider-btn {
    opacity: 1;
  }
  
  .slider-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }
  
  .slider-info {
    width: 100%;
    height: 200px;
    padding-top: 10px;
  }
  
  .titre_film {
    text-transform: uppercase;
  }
  
  .genre_film {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 2;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }

  button:hover span {
    width: 100%;
  }
  
  button:hover {
    border: none;
  }

  .etoile {
    width: 10px;
    height: 10px;
  }